:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

img {
  border-radius: 70%;
  width: 50%;
}

h1 {
  font-size: 3rem;
}

.text_container {
  display: flex;
  flex-direction: column;
}

.icn_container {
  display: flex;
}

/* Begynd her... */
